@use '../custom' as *;
@use '../components/mixins' as *;


.myfooter{
    background-color: $gray-800;
    padding: 0.6rem 0.3rem;
    width: 100%;

    p{
        color: $white;

        a{
            color: $white;
            text-decoration: none;

            &:hover{
                color: $blue;
                text-decoration: underline;
            }
        }
    }
}

.back-to-top{
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;

    i{
        color: $white;
        font-size: 1rem;
        @include absoluteCenter
    }

    @include media-breakpoint-down(sm){
        display: none;
    }
}
