<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A Portfolio website to showcase skills in:
        python web development using Flask and Django,
        API development with fastapi and django,
        future projects will be done with the golang language.">
        <meta name="keywords" content="backend developer, fullstack developer, python backend developer, flask developer, django backend developer, fastapi api developer, go api developer, go devops developer">
        <meta name="distribution" content="global">
        <meta name="publisher" content="Lawrence Mbugua Mugwe">
        <meta name="author" content="Lawrence Mbugua Mugwe">
        <title>Lawrence Mbugua - &quot;Portfolio website, blog and vlog; all in one&quot;</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    </head>
    <body>
        <!--start the navbar section-->
        <section class="fixed-top shadow">
            <nav class="navbar navbar-dark navbar-expand-lg menu  ">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">
                        <img id="lawrence-logo" alt="lawrence-logo" src="{{ url_for('static', filename='assets/images/lawrence-logo.png') }}">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span><i class="fas fa-bars-staggered"></i></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('projects.projects') }}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('blog.blog') }}">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('vlog.vlog') }}">Vlog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" >Contact</a>
                            </li>
                        </ul>
                        <button type="button" class="rounded-pill btn-rounded">+254 778708580
                            <span><i class="fas fa-phone-alt"></i></span>
                        </button>
                    </div>
                </div>
            </nav>
            <!--media handles-->
            <section class="social-media">
                <div class="container text-center ">
                    <div class="row">
                        <div class="col">
                            <a href="#"><i class="fab fa-github"></i></a>
                        </div>
                        <div class="col">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="col">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="col">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                        </div>
                        <div class="col">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        {% block page_content %}
        {% endblock %}

        <footer class="myfooter fixed-bottom">
            <div class="container text-center">
                <p>&copy; Copyright 2023 <a href="#">Software Development</a> | Created by <a href="#">Lawrence</a>.</p>
            </div>
        </footer>



        <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.js') }}"></script>
    </body>
</html>